<% if !user_signed_in? %>

	<div class="container">
	  <div class="center jumbotron">
	    <h1>Rails Chat App</h1> 
	    <p>To begin, please login with your account or register.</p>
	  	<%= link_to('Sign Up', new_user_registration_path, :class => 'btn btn-large btn-primary')  %>
	  </div>
	</div>

<% else %>

	<div class="container">
	  <div class="center jumbotron">
	    <h1>Rails Chat App</h1> 
	    <p>To begin, please click "Start Chat".</p>
	  	<%= link_to('Start Chat',   mailbox_inbox_path, :class => 'btn btn-large btn-primary')  %>
	  </div>
	</div>

<% end %>

